DB_NAME=db_smart_erp
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# accepted values are: disable | required | verify-full
DB_SSL=disabled

# path to ca.pem file. it is required if SSL is not disabled
# DB_CERT_PATH=

# symmetric hashing algorithm used for jwt, so jwt secret is 256 bit key for symmetric hashing
AUTH_JWT_SECRET=b7bb6dae3b06e0b5a3928dfd557dd523f352afbc6b8540a7b3b2769b519de87f